<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2
            class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">
            About Us</h2>
        <p class="mt-1 text-gray-600 dark:text-gray-400">Who we are?</p>
    </div>
    <div class="max-w-7xl md:px-16 text-justify text-gray-600">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, similique exercitationem labore ipsam
            quas libero inventore quibusdam expedita ad cum veritatis in officia omnis voluptatem maiores sunt.
            Deserunt, ipsum voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt velit
            consectetur possimus, quaerat corporis expedita fuga odit ea. Quo ratione laudantium quibusdam optio iusto
            libero praesentium ducimus incidunt nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            enim tempore neque quis id repellat aspernatur at incidunt quam quia! Deserunt illum eveniet necessitatibus
            placeat, voluptatem eos unde temporibus dolores.</p>
    </div>

    <!-- FAQ -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
            <h2 class="text-2xl font-bold md:text-3xl md:leading-tight text-gray-800 dark:text-gray-200">
                Frequently Asked Questions
            </h2>
        </div>
        <!-- End Title -->

        <div class="max-w-5xl mx-auto">
            <!-- Grid -->
            <div class="grid sm:grid-cols-2 gap-6 md:gap-12">
                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            What is the price to develop a mobile app?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus corrupti ea, alias iure illo voluptate animi architecto ad voluptatibus illum! Impedit repellendus nisi non eos doloribus quos. Veritatis, iure repudiandae.
                        </p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            Why choose TechGenie for your mobile app development?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quisquam assumenda, accusantium culpa alias expedita non aperiam explicabo ipsum officiis nesciunt laborum ipsam perferendis eius sunt. Ipsam accusantium enim harum.
                        </p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            How does your pricing work?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit laboriosam architecto iusto nobis vel reiciendis quibusdam quae vero nulla a perspiciatis cumque unde, maiores, ab sint repudiandae, possimus laudantium.
                        </p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            Does TechGenie develop on-demand mobile apps?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consequuntur tempora, accusantium voluptas necessitatibus fuga tenetur repudiandae delectus architecto autem doloribus facilis inventore voluptatem soluta in amet deserunt modi impedit.
                        </p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            What is the duration to develop a mobile app?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut libero minus, dolores est totam in labore placeat voluptatibus itaque rerum doloribus quisquam voluptates officia possimus temporibus iste, quas aliquam quaerat.
                        </p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="flex gap-x-5">
                    <svg class="flex-shrink-0 mt-1 size-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
                            Does TechGenie offer maintenance post-delivery?
                        </h3>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci, doloribus similique accusamus consequatur accusantium consequuntur itaque dolorum minus saepe, asperiores veniam illo temporibus dolor. Hic, consectetur veniam? Accusantium, iusto.
                        </p>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Grid -->
        </div>
    </div>
    <!-- End FAQ -->

</div>
<!-- End Card Blog -->